*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
:root{
    --color:#2A2550;
    --color1:#FF7700;
    --color2:#E04D01;
}
.container {
    background-image: url(../persons-img/map.jpg);
    background-color: rgba(0, 0, 0, 0.5);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: darken;
    
}
.header{
    width: 100%;
    height: 60px;
    background: rgb(0, 0, 0, 0.1);
    
}
h1 {
    text-align: center;
    font-size: 3em;
    color: var(--color2);

}

.gridContainer{
    display: grid;
    grid-template-columns: 1fr;
    
    padding: 20px;
    flex: 1 0 auto;
}
.mainContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.persons {
    width: 280px;
    height: 380px;
    border: 2px solid transparent;
    box-shadow: inset 0 0 1em var(--color2);
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--color);
    padding: 5px;
    
} 
.mainCardImg {
    width: 100%;
    height: 180px;
    padding: 5px;
    border-radius: 10px;
    
}
.mainPersonsCardTitle {
    text-align: center;
    font-size: 26px;
    font-weight: 900;
    color: var(--color2);
        
}
.mainPersonsCardDescription {
    text-align: center;
    overflow-y: scroll;
    height: 150px;
    width:100%;
    color:var(--color1);
    padding: 5px;
    font-size: 20px;
    font-weight: 350;
    border-radius: 10px;
}
::-webkit-scrollbar{
   display: none;
}
.btn-top {
   height: 50px; 

}

#back-to-top {
    color: var(--color1);
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    width: 130px;
    border: 2px solid transparent;
    box-shadow: inset 0 0 1em var(--color2);
    background: var(--color);
}